<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_bcxvamj8v0rx80k9.css">
    <link rel="stylesheet" href="./css/parts.css">
    <link rel="stylesheet" href="./css/personal-center.css">
</head>

<body>
    <% include parts/header %>
        <section class="person-info">
            <div class="person-info-wrap">
                <div class="person-info-tabs">
                    <div class="head">
                        <img src="./images/personalImage/personal_personImg.jpeg" alt="">
                        <p class="person-name clearfix">
                            Soul
                            <span class="iconfont icon-vip1"> </span>
                        </p>
                    </div>
                    <ul class="person-info-list">
                        <li class="active" id="orders">
                            <a href="javascript:void(0)">
                                <i class="iconfont icon-dingdan"></i>我的订单</a>
                        </li>
                        <li id="person">
                            <a href="javascript:void(0)">
                                <i class="iconfont icon-infor"></i>个人信息</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <i class="iconfont icon-vipcenter"></i>我的会员</a>
                        </li>
                        <li id="address">
                            <a href="javascript:void(0)">
                                <i class="iconfont icon-addr"></i>地址管理</a>
                        </li>
                        <li id="logistics">
                            <a href="javascript:void(0)">
                                <i class="iconfont icon-wuliu"></i>物流详情</a>
                        </li>
                    </ul>
                </div>
                <div class="person-info-content">
                    <h4 class="info-title">我的订单</h4>
                    <div class="infos">
                        <div class="orders">
                            <ul class="tab">
                                <li class="active">全部订单</li>
                                <li data-num="2">待支付</li>
                                <li data-num="1">正在处理</li>
                                <li data-num="1">已完成</li>
                            </ul>
                            <% orders.forEach(function(item){ %>
                                <div class="order-item" data-id="<%= item.orderId %>">
                                    <p>订单号 :
                                        <span>
                                            <%= item.orderunique %>
                                        </span>
                                        <time>
                                            <%= formatDate(item.createTime)  %>
                                        </time>
                                        <em>待支付
                                            <span>[5:00]</span>
                                        </em>
                                    </p>
                                    <div class="order-goods clearfix">
                                        <img src="images/series/sports/sports_goods/<%= item.goodsImg.split('|')[0].replace('?','') %>" alt="">
                                        <ul>
                                            <li>商品名称 :
                                                <span>
                                                    <%= item.goodName  %>
                                                </span>
                                            </li>
                                            <li>颜色 :
                                                <span>
                                                    <%= goodSpec().color(item.color) %>
                                                </span>
                                            </li>
                                            <li>尺码 :
                                                <span>
                                                    <%= goodSpec().size(item.size)%>
                                                </span>
                                            </li>
                                            <li>备注 :
                                                <span>
                                                    <%= item.orderRemarks%>
                                                </span>
                                            </li>
                                            <li>运费 :
                                                <strong>¥
                                                    <%= item.deliverMoney%>
                                                </strong>
                                            </li>

                                            <li>获得积分 :
                                                <strong>
                                                    <%= item.orderScore%>
                                                </strong>
                                            </li>
                                            <li>价格 :
                                                <strong>¥
                                                    <%= item.realTotalMoney%>
                                                </strong>
                                            </li>
                                            <li>数量 :
                                                <strong>
                                                    <em>&#45;</em>
                                                    <input type="text" value="<%= item.goodsNum %>">
                                                    <em>&#43;</em>
                                                </strong>
                                            </li>
                                        </ul>
                                        <a href="#">查看详情</a>
                                        <div>
                                            <a href="#">立即支付</a>
                                            <a href="#">取消订单</a>
                                        </div>

                                    </div>
                                </div>
                                <% }) %>
                                    <div class="pages">
                                        <a href="#">首页</a>
                                        <a href="#">上一页</a>
                                        <a href="#">2</a>
                                        <a href="#">3</a>
                                        <a href="#">4</a>
                                        <a href="#">5</a>
                                        <a href="#">6</a>
                                        <a href="#">下一页</a>
                                        <a href="#">尾页</a>
                                    </div>

                        </div>
                        <div class="preson ">
                                <form id="info">
                                    <dl>
                                        <dt class="touxiang">头像</dt>
                                        <dd>
                                            <img src="<%= userInfo.userPhoto %>" alt="">
                                            <a href="#" class="updateImg">上传头像</a>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>昵称
                                            <i class="iconfont icon-help" title="你公开的用户名" disabled="true"></i>
                                        </dt>
                                        <dd>
                                            <input type="text" value="<%= userInfo.userName %>" disabled="true">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>手机号码</dt>
                                        <dd>
                                            <input type="nubmer" value="<%= userInfo.userPhone %>" disabled="true">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>邮箱地址</dt>
                                        <dd>
                                            <input type="email" value="<%= userInfo.userEmail  %>" disabled="true">
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>性别</dt>
                                        <dd>
                                            <% if(userInfo.userSex== 0){ %>
                                                <label for="sex1" class="show">
                                                    <input type="radio" name="sex" value="0" id="sex1" checked="true" disabled="true"> 保密
                                                </label>
                                                <label for="sex2">
                                                    <input type="radio" name="sex" value="1" id="sex2" disabled="true"> 男
                                                </label>
                                                <label for="sex3">
                                                    <input type="radio" name="sex" value="2" id="sex3" disabled="true"> 女
                                                </label>
                                                <% }else if(userInfo.userSex== 1){ %>
                                                    <label for="sex1">
                                                        <input type="radio" name="sex" value="0" id="sex1" checked="true" disabled="true"> 保密
                                                    </label>
                                                    <label for="sex2" class="show">
                                                        <input type="radio" name="sex" value="1" id="sex2" disabled="true"> 男
                                                    </label>
                                                    <label for="sex3">
                                                        <input type="radio" name="sex" value="2" id="sex3" disabled="true"> 女
                                                    </label>
                                                    <% }else{ %>
                                                        <label for="sex1">
                                                            <input type="radio" name="sex" value="0" id="sex1" checked="true" disabled="true"> 保密
                                                        </label>
                                                        <label for="sex2">
                                                            <input type="radio" name="sex" value="1" id="sex2" disabled="true"> 男
                                                        </label>
                                                        <label for="sex3" class="show">
                                                            <input type="radio" name="sex" value="2" id="sex3" disabled="true"> 女
                                                        </label>
                                                        <% } %>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>生日</dt>
                                        <dd>
                                            <input type="text" value="<%= formatDate(userInfo.userBirthday) %>" disabled="true">
                                        </dd>
                                    </dl>
                                    <div>
                                        <a>修改</a>
                                        <a>取消</a>
                                        <a>保存</a>
                                    </div>

                                </form>
                        </div>
                        <div class="members clearfix">
                            <div>
                                <h4>
                                    <i class="iconfont icon-vipcenter"></i> 会员等级</h4>
                                <p>您的当前会员等级为 :
                                    <i class="iconfont icon-vip<%= userInfo.userType+1 %>"></i>
                                </p>
                                <div>
                                    <h6>等级解读</h6>
                                    <p>
                                        <i class="iconfont icon-vip1"></i> 注册即为VIP1</p>
                                    <p>
                                        <i class="iconfont icon-vip2"></i> 500积分升级为VIP2</p>
                                    <p>
                                        <i class="iconfont icon-vip3"></i> 1500积分升级为VIP3</p>
                                    <p>
                                        <i class="iconfont icon-vip4"></i> 3000积分升级为VIP4</p>
                                </div>
                            </div>
                            <div>
                                <h4>
                                    <i class="iconfont icon-edit"></i> 会员积分</h4>
                                <p>您的当前会员积分为 :
                                    <span>
                                        <%= userInfo.userScore %>
                                    </span>
                                </p>
                                <div>
                                    <h6>积分来源</h6>
                                    <p>1. 通过购买系列产品</p>
                                    <p>2. 活动获取</p>
                                    <p>3. 建议采纳</p>
                                    <p>4. 商家补偿</p>
                                </div>
                            </div>


                        </div>
                        <div class="addr">
                            <table class="addr-items">
                                <thead>
                                    <tr>
                                        <th>收货人姓名</th>
                                        <th>收货地址</th>
                                        <th>联系电话</th>
                                        <th>邮政编码</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% userAddr.forEach(function(item){ %>
                                        <tr>
                                            <td>
                                                <%= item.userName %>
                                            </td>
                                            <td class="control">
                                                <%= item.userAddress %>
                                            </td>
                                            <td>
                                                <%= item.userPhone %>
                                            </td>
                                            <td>
                                                <%= item.postalCode %>
                                            </td>
                                            <td>
                                                <a href="#">修改</a>
                                                <a href="#">删除</a>
                                            </td>
                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                            <div>
                                <p>最多可保存10个收货地址</p>
                                <a href="#">新增地址</a>
                            </div>

                        </div>
                        <div class="logistics">
                            <% orders.forEach(function(item){ %>
                                <div>
                                    <p>订单号：
                                        <%= item.orderunique %>
                                            <em><%=orderStatus(item.orderStatus) %></em>
                                    </p>
                                    <div class="logistics-status">
                                        <ul>
                                            <li>揽件
                                                <strong><%= formatDate(item.createTime)%></strong>
                                            </li>
                                            <li></li>
                                            <li>运输
                                                <strong>2016.12.12</strong>
                                            </li>
                                            <li></li>
                                            <li>派送
                                                <strong>2016.12.12</strong>
                                            </li>
                                            <li></li>
                                            <li>签收
                                                <strong>2016.12.12</strong>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <% })%>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <% include parts/footer %>
            <script src="./js/jquery-1.11.3.js"></script>
            <script src="./js/layer-v3.1.1/layer/layer.js"></script>
            <script src="./js/index.js"></script>
            <script src="./js/personal-center.js"></script>
</body>

</html>
<% function formatDate(dateStr) {
    var iDate = new Date(dateStr);

    function addZreo(num) {
        return num < 10 ? '0' + num : num;
    }
    return iDate.getFullYear() + '-' + (addZreo(iDate.getMonth() + 1)) + '-' + addZreo(iDate.getDate());

}
/**
 * 商品规格处理
 */
function goodSpec() {
    let goodSpec = {
        color(color) {
            var str = '';
            switch (color) {
                case 0:
                    str = '红色';
                    break;
                case 1:
                    str = '粉色';
                    break;
                    break;
                    str = '黑色';
                    break;
                case 2:
                    break;
                default:
                    str = '白色';
            }
            return str
        },
        size(size) {
            var str = '';
            switch (size) {
                case 0:
                    str = '31';
                    break;
                case 1:
                    str = '32';
                    break;
                    break;
                    str = '33';
                    break;
                case 2:
                    break;
                default:
                    str = '34';
            }
            return str
        }
    }
    return goodSpec
}
// 订单状态处理
function  orderStatus(status){
    let s ;
    if(status==1){
        s = '揽件中';
    }else if(status==2){
        s = '运输中';
    }else if(status==3){
        s = '派送中';
    }else{
        s = '已签收';
    }
    return s 
}
%>