<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>产品详情</title>
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_ykgw0jdliwcow29.css">
  <link rel="stylesheet" href="./css/parts.css">
  <link rel="stylesheet" href="css/Product_details.css">
  <!-- <link rel="stylesheet" href="http://at.alicdn.com/t/font_611086_ug71q3xm0zxjq0k9.css"> -->
</head>

<body>
  <% include header %>
    <section id="product_sectop">
      <div class="line"></div>
      <div id="product_leftmenu">
        <a href="#">活力少女</a>
        <span>></span>
        <a href="#">活力粉色运动内衣</a>
      </div>
      <div id="product_detatop">
        <div id="product_detaleft">
          <div class="con-FangDa" id="fangdajing">
            <ul class="con-FangDa-ImgList">
              <!-- 图片显示列表 -->
              <% data.goodsImg.split('|').forEach(function(item,index){  %>
                <% if(index == 0){ %>
                  <li class="active">
                    <img src="./images/series/<%=  item.replace('?','')  %>" data-bigimg="./images/series/<%=  item.replace('?','').replace(/(\.+)/,'(1)$1')  %>">
                  </li>
                  <% }else{ %>
                    <li>
                      <img src="./images/series/<%=  data.goodsImg.split('?')[0]+item  %>" data-bigimg="./images/series/<%=  data.goodsImg.split('?')[0]+(item.replace(/(\.+)/,'(1)$1')) %>">
                    </li>
                    <% } %>
                      <% }) %>
            </ul>
            <div class="con-fangDaIMg">
              <!-- 正常显示的图片-->
              <img src="./images/series/<%=  data.goodsImg.split('|')[0].replace('?','').replace(/(\.+)/,'(1)$1')  %>">
              <!-- 滑块-->
              <div class="magnifyingBegin"></div>
              <!-- 放大镜显示的图片 -->
              <div class="magnifyingShow">
                <img src="./images/series/<%=  data.goodsImg.split('|')[0].replace('?','').replace(/(\.+)/,'(1)$1')  %>">
              </div>
            </div>

          </div>
        </div>
        <div id="product_detaright">
          <div class="right_deta">
            <p>活力粉色运动内衣</p>
            <p>挥洒青春，穿出自我</p>
            <span>
              <i class="iconfont icon-star"></i>
              <i class="iconfont icon-star"></i>
              <i class="iconfont icon-star"></i>
              <i class="iconfont icon-star"></i>
              <i class="iconfont icon-star"></i>
              <span>5</span>
              <span>></span>
              <span>369条评论</span>
            </span>
            <div class="price">
              <span>价格:</span>
              <span>￥229</span>
            </div>
            <div class="color">
              <p>颜色</p>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
            </div>
            <div class="size">
              <p>衣带尺寸</p>
              <div>32</div>
              <div>34</div>
              <div>36</div>
              <div>38</div>
              <div>40</div>
            </div>
            <div class="cups">
              <p>罩杯大小</p>
              <div>A</div>
              <div>B</div>
              <div>C</div>
              <div>D</div>
              <div>E</div>
            </div>
            <div class="number">
              <p>数量</p>
              <div id="number_redu">-</div>
              <input type="text" value="1" id="number_show" readonly="readonly">
              <div id="number_add">+</div>
            </div>
          </div>
          <div class="buy">
            <div id="tianjiagouwu">添加到购物袋</div>
            <div id="lijibuy">立即购买</div>
          </div>
        </div>
      </div>
      <div class="product_detamid">
        <ul>
          <li class="product_midactive">产品信息</li>
          <li>购买评价</li>
          <li>选购指南</li>
          <li>常见问题</li>
        </ul>
      </div>
      <div class="product_datatab">
        <div id="product_datatab1" class="con product_datatabture">
          <div class="tab1_list">
            <div class="tab1_box">
              <div class="item">
                款号: AM111551
                <br> 品牌: Fashion
                <br> 颜色: 肤色, 黑色
                <br> 类型:文胸大类
              </div>
              <div class="item">
                杯型:1/2杯
                <br> 主人气质:时尚
                <br> 是否有佳美兜:无佳美兜
                <br> 功能:聚拢
              </div>
              <div class="item">
                适用人群:女士
                <br> 面料图案:纯色
                <br> 外形设计:V型
                <br> 钢圈:有钢圈
              </div>
              <div class="item">
                插片:无插片
                <br> 搭扣:后三排搭扣
                <br> 肩带:可拆卸肩带
                <br> 罩杯材质:模杯
              </div>
              <div class="item">
                薄厚:薄杯
                <br> 穿衣之道:丰满为主
              </div>
            </div>
            <div class="tab2_box">
              <img src="./images/series/content_images/27579.jpeg" alt="价格公告">
            </div>
            <div class="tab3_box">
              <div>
                <h2>商品信息</h2>
                <span>/ Commodity information</span>
              </div>
              <div>
                <div class="t3_left">
                  <img src="./images/series/sports/sports_goods/sports_goods1/sportsGoods1_content/sportsGoods1_lg.jpg" alt="">
                </div>
                <div class="t3_right">
                  <h3>活力粉色运动内衣II1/2光面薄模杯文胸AM111551</h3>
                  <table>
                    <tbody>
                      <tr>
                        <td>杯&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</td>
                        <td>1/2杯</td>
                      </tr>
                      <tr>
                        <td>厚&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;度</td>
                        <td>薄杯</td>
                      </tr>
                      <tr>
                        <td>功&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;能</td>
                        <td>舒适包容</td>
                      </tr>
                      <tr>
                        <td>适合胸型</td>
                        <td>胸型丰满</td>
                      </tr>
                      <tr>
                        <td>有无钢圈</td>
                        <td>有钢圈</td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                      <tr>
                        <td>罩杯里料</td>
                        <td>83%锦纶，17%氨纶</td>
                      </tr>
                      <tr>
                        <td>侧翼里料</td>
                        <td>71%氨纶，29%锦纶</td>
                      </tr>
                      <tr>
                        <td>侧翼面料</td>
                        <td>53%氨纶，47%锦纶</td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                      <tr>
                        <td>肩&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;带</td>
                        <td>可拆卸双肩带</td>
                      </tr>
                      <tr>
                        <td>搭&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;扣</td>
                        <td>后三排搭扣</td>
                      </tr>
                      <tr>
                        <td>插&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;片</td>
                        <td>无佳美兜无佳美垫</td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <tbody>
                      <tr>
                        <td>洗涤方式</td>
                      </tr>
                      <tr>
                        <td>
                          <img src="./images/series/content_images/17washing_01.jpg" alt="">
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="tab4_box">
              <div class="t4_line"></div>
              <div>
                <img src="./images/series/content_images/size2017_top.jpg" alt="">
              </div>
              <div>
                <img src="./images/series/content_images/size2017_bra.jpg" alt="">
              </div>
            </div>
            <div class="tab5_box">
              <div>
                <h2>模特展示</h2>
                <span>/ Models Show</span>
              </div>
              <div>
                <img src="./images/series/sports/sports_goods/sports_goods1/sportsGoods1_content/sportsGoods1_picA(1).jpg" alt="">
                <img src="./images/series/sports/sports_goods/sports_goods1/sportsGoods1_content/sportsGoods1_picD(1).jpg" alt="">
                <img src="./images/series/sports/sports_goods/sports_goods1/sportsGoods1_content/sportsGoods1_picC(1).jpg" alt="">
              </div>
            </div>
          </div>
        </div>
        <div id="product_detatab2" class="con">
          <div class="product_box">
            <div class="product_comments_top">
              <p>整体评价</p>
              <p>5</p>
              <p>
                <i class="iconfont icon-star"></i>
                <i class="iconfont icon-star"></i>
                <i class="iconfont icon-star"></i>
                <i class="iconfont icon-star"></i>
                <i class="iconfont icon-star"></i>
              </p>
              <img src="./images/series/content_images/zhichi.png" alt="">
            </div>
            <div class="product_comments_con">
              <div>
                <div class="con_left">
                  <img src="./images/personalImage/personal_personImg.jpeg" alt="">
                  <p>Soul</p>
                </div>
                <div class="con_right">
                  <div>
                    <p>评分:</p>
                    <span>
                      <i class="iconfont icon-star"></i>
                      <i class="iconfont icon-star"></i>
                      <i class="iconfont icon-star"></i>
                      <i class="iconfont icon-star"></i>
                      <i class="iconfont icon-star"></i>
                    </span>
                  </div>
                  <p>合身，舒服，料子自然</p>
                  <p>2017-04-2 15:20:39</p>
                </div>
              </div>
              <div>
                  <div class="con_left">
                    <img src="./images/personalImage/personal_personImg.jpeg" alt="">
                    <p>Soul</p>
                  </div>
                  <div class="con_right">
                    <div>
                      <p>评分:</p>
                      <span>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                        <i class="iconfont icon-star"></i>
                      </span>
                    </div>
                    <p>合身，舒服，料子自然</p>
                    <p>2017-04-2 15:20:39</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="product_comments">
            <span>暂无评价！</span>
            <div></div>
          </div>
        </div>
        <div id="product_detatab3" class="con">
          <div class="product_guide">
            <div class="guide_con">
              <h3>如何选择文胸尺码</h3>
              <h5>1.量体姿势</h5>
              <p>①将身体保持自然呼吸状态；
                <br> ②左手持尺,右手轻柔地绕过被量者的身体取尺，要求双手用力均匀，动作轻盈。量尺一定要保持水平，松紧度适中。
              </p>
              <h5>2.测量方法</h5>
              <div class="guide_measure">
                <img src="./images/series/content_images/guide_r2_c2.jpg" alt="">
                <span>上胸围：皮尺水平绕乳房隆起的最高点处量一周
                  <br> （单位：cm）
                </span>
              </div>
              <div class="guide_measure">
                <img src="./images/series/content_images/guide_r3_c16.jpg" alt="">
                <span>下胸围：皮尺水平绕乳房隆起处的下缘量一周
                  <br> （单位：cm）
                </span>
              </div>
              <h5>3.计算方法</h5>
              <p>罩杯尺码=上胸围-下胸围 （并根据下边对照表换算出适合自己的杯型）
                <br> 文胸尺码=罩杯杯型+胸下围尺寸（如B75，即代表该文胸尺码适合B罩杯，75cm左右胸下围的女性）
              </p>
              <table border="1" class="sizejisuan">
                <tbody>
                  <tr>
                    <td>杯罩型号</td>
                    <td>上胸围与下胸围差距</td>
                  </tr>
                  <tr>
                    <td>AA罩杯</td>
                    <td>约7.5cm</td>
                  </tr>
                  <tr>
                    <td>A罩杯</td>
                    <td>约10cm</td>
                  </tr>
                  <tr>
                    <td>B罩杯</td>
                    <td>约12.5cm</td>
                  </tr>
                  <tr>
                    <td>C罩杯</td>
                    <td>约15cm</td>
                  </tr>
                  <tr>
                    <td>D罩杯</td>
                    <td>约17.5cm</td>
                  </tr>
                  <tr>
                    <td>E罩杯</td>
                    <td>约20cm</td>
                  </tr>
                  <tr>
                    <td>F罩杯</td>
                    <td>约22.5cm</td>
                  </tr>
                </tbody>
              </table>
              <p>ps:所有数据仅供参考，请选择与自己实际上下胸围最接近的数据</p>
              <br>
              <h5>文胸尺码参照 （单位：cm）</h5>
              <p>常规女士文胸尺码参照表</p>
              <table border="1" class="cimacanzhao">
                <tbody>
                  <tr>
                    <td>上下胸围差</td>
                    <td>下胸围60CM</td>
                    <td>下胸围70CM</td>
                    <td>下胸围75CM</td>
                    <td>下胸围80CM</td>
                    <td>下胸围85CM</td>
                    <td>下胸围90CM</td>
                  </tr>
                  <tr>
                    <td>10-12.5</td>
                    <td>A60</td>
                    <td>A70</td>
                    <td>A75</td>
                    <td>A80</td>
                    <td>A85</td>
                    <td>A90</td>
                  </tr>
                  <tr>
                    <td>12.5-15</td>
                    <td>B60</td>
                    <td>B70</td>
                    <td>B75</td>
                    <td>B80</td>
                    <td>B85</td>
                    <td>B90</td>
                  </tr>
                  <tr>
                    <td>15-17.5</td>
                    <td>C60</td>
                    <td>C70</td>
                    <td>C75</td>
                    <td>C80</td>
                    <td>C85</td>
                    <td>C90</td>
                  </tr>
                  <tr>
                    <td>17.5-20</td>
                    <td></td>
                    <td>D70</td>
                    <td>D75</td>
                    <td>D80</td>
                    <td>D85</td>
                    <td>D90</td>
                  </tr>
                  <tr>
                    <td>20-22.5</td>
                    <td></td>
                    <td>E70</td>
                    <td>E75</td>
                    <td>E80</td>
                    <td>E85</td>
                    <td>E90</td>
                  </tr>
                  <tr>
                    <td>22.5-25</td>
                    <td></td>
                    <td>F70</td>
                    <td>F75</td>
                    <td>F80</td>
                    <td>F85</td>
                    <td>F90</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <p>无钢托文胸尺码参照表</p>
              <table border="1" class="wugtcanzhao">
                <tbody>
                  <tr>
                    <td>型号</td>
                    <td>身高（CM）</td>
                    <td>上胸围（CM）</td>
                    <td>尺码对照表</td>
                  </tr>
                  <tr>
                    <td>155</td>
                    <td>155-160</td>
                    <td>77-82</td>
                    <td>A70</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>A75</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>B70</td>
                  </tr>
                  <tr>
                    <td>160</td>
                    <td>160-165</td>
                    <td>82-87</td>
                    <td>C70</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>A80</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>B75</td>
                  </tr>
                  <tr>
                    <td>165</td>
                    <td>165-170</td>
                    <td>87-92</td>
                    <td>C75</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>A85</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>B80</td>
                  </tr>
                  <tr>
                    <td>170</td>
                    <td>170-175</td>
                    <td>92-97</td>
                    <td>C80</td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>B85</td>
                  </tr>
                  <tr>
                    <td>175</td>
                    <td>175-180</td>
                    <td>97-107</td>
                    <td>C85</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <p>硅胶文胸尺码参照表</p>
              <table border="1" class="guijiaocanzhao">
                <tbody>
                  <tr>
                    <td>可选A</td>
                    <td>可选B</td>
                    <td>可选C</td>
                  </tr>
                  <tr>
                    <td>A70</td>
                    <td>B75</td>
                    <td>C75</td>
                  </tr>
                  <tr>
                    <td>A75</td>
                    <td>C70</td>
                    <td>B80</td>
                  </tr>
                  <tr>
                    <td>B70</td>
                    <td>A80</td>
                    <td>C80</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <p>义乳尺码参照表</p>
              <table border="1" class="yirucz">
                <tbody>
                  <tr>
                    <td>罩杯/底</td>
                    <td>A</td>
                    <td>B</td>
                    <td>C</td>
                    <td>D</td>
                    <td>E</td>
                  </tr>
                  <tr>
                    <td>70</td>
                    <td>0、1</td>
                    <td>1、2、3</td>
                    <td>3、4</td>
                    <td>4、5、6</td>
                    <td>6、7</td>
                  </tr>
                  <tr>
                    <td>75</td>
                    <td>1、2</td>
                    <td>2、3</td>
                    <td>3、4、5</td>
                    <td>5、6</td>
                    <td>6、7、8</td>
                  </tr>
                  <tr>
                    <td>80</td>
                    <td>1、2、3</td>
                    <td>3、4</td>
                    <td>4、5、6</td>
                    <td>6、7</td>
                    <td>7、8、9</td>
                  </tr>
                  <tr>
                    <td>85</td>
                    <td>2、3</td>
                    <td>3、4、5</td>
                    <td>5、6 </td>
                    <td>6、7、8</td>
                    <td>8、9、10</td>
                  </tr>
                  <tr>
                    <td>90</td>
                    <td>3、4</td>
                    <td>4、5、6</td>
                    <td>6、7</td>
                    <td>7、8、9</td>
                    <td>9、10</td>
                  </tr>
                  <tr>
                    <td>95</td>
                    <td>3、4、5</td>
                    <td>3、4、5</td>
                    <td>6、7、8</td>
                    <td>8、9、10</td>
                    <td>9、10</td>
                  </tr>
                  <tr>
                    <td>100</td>
                    <td>4、5、6</td>
                    <td>6、7</td>
                    <td>7、8、9</td>
                    <td>9、10</td>
                    <td>10、11</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <br>
              <h3>如何选择文胸款式</h3>
              <p>1.不同胸型如何正确选择文胸</p>
              <table border="1" class="notxz">
                <tbody>
                  <tr>
                    <td>名称</td>
                    <td>胸型介绍</td>
                    <td>建议</td>
                    <td>推荐款式</td>
                  </tr>
                  <tr>
                    <td>圆盘型</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r7_c4.jpg" alt="">
                        <span>胸部扁平，较小，底盘不大，隆起不高。</span>
                      </div>
                    </td>
                    <td>建议佩戴具有聚拢效果的水袋模杯或厚模杯文胸，乳房娇小也可佩带1/2杯型文胸。</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r6_c28.jpg" alt="">
                        <span>3/4杯型：包容效果适中、聚拢效果好，适合大多数女性</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>圆锥型</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r10_c4.jpg" alt="">
                        <span>胸型较丰满，底面积适中，高度适中。胸点下部比上部脂肪多，多呈圆锥状</span>
                      </div>
                    </td>
                    <td>建议佩戴具有承托性或上薄下厚型模杯文胸，能更好的将底部脂肪上托。</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r11_c28.jpg" alt="">
                        <span>1/2杯型：具有良好的承托作用，对乳房下垂有较好的修正功能</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>半球型</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r14_c4.jpg" alt="">
                        <span>理想胸型，较浑圆丰满，底外圈线与胸侧圈线等值宽，侧面看成半球状。</span>
                      </div>
                    </td>
                    <td>建议佩戴3/4或4/4杯文胸，能够更好的包容乳房。</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r15_c28.jpg" alt="">
                        <span>4/4杯型：包容性、稳定性及承托归拢效果更好，可令胸部外观更挺拔而不觉臃肿。</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>纺锤型</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r18_c4.jpg" alt="">
                        <span>底面积适中，乳房隆起高，并向前凸出稍有垂感，形似纺锤。</span>
                      </div>
                    </td>
                    <td>建议选用宽肩带，有钢圈，包容型文胸。</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r19_c28.jpg" alt="">
                        <span>抹胸型/深V型：这两种类型的文胸可根据外装的款式来搭配穿着。</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>下垂型</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r22_c4.jpg" alt="">
                        <span>乳房顶点很低，使整个乳房向下垂挂状，有时乳房内侧会整个贴服在腹部。</span>
                      </div>
                    </td>
                    <td>可以选用高鸡心位，具有承托性的文胸，防止下垂的乳房；丰满下垂胸型建议佩戴宽肩带的薄款文胸；不丰满但是下垂(因年龄增长或者地心引力影响)，建议选择具有承托佳美垫的模杯文胸，3/4罩杯，全罩杯都可以。</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r23_c28.jpg" alt="">
                        <span>上薄下厚杯型：适合娇小胸型姑娘穿戴，具有不错的聚拢显胸效果，利于起到上托下垂的胸型作用。</span>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>外扩型</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r26_c4.jpg" alt="">
                        <span>双峰向两侧外扩，胸距过大（胸点间距大于肩宽尺寸的1/2），不集中。</span>
                      </div>
                    </td>
                    <td>建议佩戴具有侧收聚拢效果、有加强侧推胶骨的文胸。</td>
                    <td>
                      <div>
                        <img src="./images/series/content_images/guide_r27_c28.jpg" alt="">
                        <span>三角杯型：不适合有腋下副乳、胸部扁平外扩现象的女性穿着，适合罩杯小胸胸型女性穿戴，例如A杯、B杯。</span>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <br>
              <h5>2.模杯厚度说明：（图示中字母T表示模杯上下相对两面之间最厚距离）</h5>
              <div class="guide_bra_info">
                <a href="#">
                  <img src="./images/series/content_images/guide_r30_c3.jpg" alt="">
                  <h5>超薄杯</h5>
                  <p>超薄杯T≤1mm 隐约性感，舒适透气，适合夏日穿着。</p>
                  <span>性感透视杯推荐 ></span>
                </a>
                <a href="#">
                  <img src="./images/series/content_images/guide_r30_c7.jpg" alt="">
                  <h5>薄杯</h5>
                  <p>薄模杯T≤9mm 柔软透气，适合丰满的女性穿着。</p>
                  <span>舒适薄杯推荐 ></span>
                </a>
                <a href="#">
                  <img src="./images/series/content_images/guide_r30_c17.jpg" alt="">
                  <h5>中厚杯</h5>
                  <p>中模杯T=10-19mm穿着舒适自然，适合各种胸型的女性。</p>
                  <span>百搭型模杯推荐 ></span>
                </a>
                <a href="#">
                  <img src="./images/series/content_images/guide_r30_c25.jpg" alt="">
                  <h5>厚模杯</h5>
                  <p>厚模杯T=20-28mm 丰胸、收拢，适合胸型娇小的女性</p>
                  <span>聚拢型模杯推荐 ></span>
                </a>
                <a href="#">
                  <img src="./images/series/content_images/guide_r30_c32.jpg" alt="">
                  <h5>加厚杯</h5>
                  <p>加厚杯T ≥28mm 具有超强的丰胸效果，让您拥有傲人曲线。</p>
                  <span>丰满型模杯推荐 ></span>
                </a>
              </div>
              <br>
              <h5>3.选择文胸罩杯的材质</h5>
              <table border="1" class="xzcz">
                <tbody>
                  <tr>
                    <td>分类</td>
                    <td>特点</td>
                  </tr>
                  <tr>
                    <td>模杯</td>
                    <td>罩杯主要采用海绵，一次模压成型，调整胸部曲线的功能较强。</td>
                  </tr>
                  <tr>
                    <td>无纺布</td>
                    <td>罩杯主要采用一定厚度的无纺布，缝合做成罩杯，杯型较多，包容承托效果好。</td>
                  </tr>
                  <tr>
                    <td>薄型</td>
                    <td>罩杯主要采用弹力面料，不加里衬，杯薄，穿着舒适自然，透气性好，穿着时建议佩戴乳贴防走光。</td>
                  </tr>
                  <tr>
                    <td>水袋</td>
                    <td>罩杯主要采用油袋外包海绵，油袋内为白油（化妆品添加剂），聚拢效果佳。</td>
                  </tr>
                </tbody>
              </table>
              <br>
              <br>
              <h3>文胸正确的穿着方法</h3>
              <h5>1. 穿着步骤</h5>
              <div class="guide_wear">
                <a>
                  <img src="./images/series/content_images/guide_r32_c5.jpg" alt="">
                  <h5>A：倾一倾</h5>
                  <p>上半身前倾约45度，双臂穿过肩带，将乳房全部放入罩杯内，扣上勾袢。</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r32_c15.jpg" alt="">
                  <h5>B：拢一拢</h5>
                  <p>左手提起文胸的耳仔部位，右手伸进罩杯内，收拢胸部外侧和下侧脂肪。</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r32_c26.jpg" alt="">
                  <h5>C: 拨一拨</h5>
                  <p>弯腰，四指合拢，从腋下后方开始往前拨，顺着钢圈划一圈，至鸡心处。</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r34_c5.jpg" alt="">
                  <h5>D：调一调</h5>
                  <p>身体站直，调整肩带长度，以可以伸进一指并且能够紧贴肌肤自由滑动的松紧度为宜。</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r34_c15.jpg" alt="">
                  <h5>E：抻一抻</h5>
                  <p>捏住耳仔顺势上提，调节肩带，松紧度以一个手指可以轻松划动为宜。</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r34_c26.jpg" alt="">
                  <h5>F：查一查</h5>
                  <p>最后检查平整度并稍微调整一下，以最舒服的感觉为准。</p>
                </a>

              </div>
              <br>
              <h5>2. 如何判断文胸穿着是否到位</h5>
              <p>底围：底围呈水平线，检查松紧度，后比过紧，易勒出赘肉；后比过松，文胸易上窜；
                <br> 罩杯：检查尺码是否合适，罩杯过小压胸，过大不服帖；
                <br> 肩带：检查是否松紧适中；
                <br> 外观：穿着文胸后，塑造出浑圆、挺拔、自然的胸部曲线，以舒适为最佳。
              </p>
              <br>
              <h3>文胸的洗涤与保养</h3>
              <br>
              <div class="guide_wash_icon">
                <a>
                  <img src="./images/series/content_images/guide_r37_c9.jpg" alt="">
                  <p>分开水洗</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r37_c13.jpg" alt="">
                  <p>不可漂白</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r37_c19.jpg" alt="">
                  <p>垂挂晾干</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r38_c21.jpg" alt="">
                  <p>不可熨烫</p>
                </a>
                <a>
                  <img src="./images/series/content_images/guide_r36_c29.jpg" alt="">
                  <p>不可干洗</p>
                </a>
              </div>
              <div class="guide_info">
                <p>
                  <strong>洗涤剂：</strong>
                  使用中性洗涤剂，先溶解于水中，再将内衣放入；强碱性的洗衣粉会让文胸泛黄变色。勿使用漂白剂，以免材质变坏、脆化（有色内衣绝不能漂白）。
                </p>
                <p>
                  <strong>水温：</strong>
                  30°以下适宜，过热的水会让文胸渐渐失去弹性；请勿长时间浸泡，水中的氯会使内衣变色，且污垢容易再次附着在内衣上面。
                </p>
                <p>
                  <strong>洗涤方式：</strong>
                  建议采用轻柔手洗，用手拿住两个杯对着轻柔，钢圈鸡心处及碗侧处可以用废弃的牙刷刷洗，如用洗衣机，务必放在文胸专用洗衣袋中，切不可烘干。勿将深色及印花衣物混洗，以免沾染。
                </p>
                <p>
                  <strong>晾晒方式：</strong>
                  可以将夹子夹住低围处等无弹性的地方，用手将模杯里的水分轻轻挤干，且将模杯用拳头撑圆；不要在太阳下暴晒，亦不要使用暖气烘干，这两种方式都容易造成变黄、褪色、布料失去弹性等现象。
                </p>
                <p>
                  <strong>洗涤方式：</strong>
                  建议采用轻柔手洗，用手拿住两个杯对着轻柔，钢圈鸡心处及碗侧处可以用废弃的牙刷刷洗，如用洗衣机，务必放在文胸专用洗衣袋中，切不可烘干。勿将深色及印花衣物混洗，以免沾染。
                </p>
                <div class="guide_info_left">
                  <p>
                    <strong>晾晒方式：</strong>
                    可以将夹子夹住低围处等无弹性的地方，用手将模杯里的水分轻轻挤干，且将模杯用拳头撑圆；不要在太阳下暴晒，亦不要使用暖气烘干，这两种方式都容易造成变黄、褪色、布料失去弹性等现象。
                  </p>
                  <p>
                    <strong>收纳方式：</strong>
                    扣好背钩，调整罩杯形状，可以把文胸折起，背带、肩带放进杯内，放在所有衣物的最上端，或是两三件叠起来，这样都不易变形，如果往衣服下面随便一塞，衣服太重会压坏钢圈。
                  </p>
                </div>
                <div class="guide_info_right">
                  <img src="./images/series/content_images/guide_r42_c21.jpg" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="product_detatab4" class="con">
          <div class="product_problem">
            <span>为什么收到的宝贝会有异味？</span>
            <p>我们承诺您所购买的所有产品均已达到环保认证，由于模杯产品在生产过程中会使用到粘合胶贴合模杯，因此会有胶质气味，并且发货过程中始终保持密封包装，令气味难以散除，因此在 您收到货品之后，只需在通风干燥的环境中（避免阳光暴晒）晾1-2天即可。</p>
            <span>为什么收到实物颜色与图片显示颜色不符？</span>
            <p>产品在拍照的时候由于灯光的原因，会导致图片与实物有稍许色差，而且由于每个人电脑显示器不同，显示出实物的颜色也会有差别，但并非质量问题，请您购买时以实物为准，我们也会尽量减小颜色差异。</p>
            <span>为什么同一款产品有的是两排背钩有的是一排背钩？</span>
            <p>为了让顾客穿着更稳定舒适，我们会根据杯型的大小增加背钩排数，例如原本设计为一排背钩的产品，C杯及C杯以上会增加为两排背钩，均是为了顾客着想，不属于质量问题，更不会影响穿着，如果您收到产品是两排或多排背钩的请放心穿着。</p>
            <span>为什么同一款产品细节会有不同？</span>
            <p>爱慕有很多经典畅销的款式，由于销量很高我们会再次下单生产，但因为批次不同，同时顾客体验中发现的问题我们也会改进，所以不同批次的产品的细节会有稍微不同，例如肩带在前面耳仔处是否为可拆卸，但是所有产品同为爱慕正品，均不影响穿着，请顾客放心购买。</p>
            <span>产品尺码如何选择？</span>
            <p>为避免笼统的尺码区分造成误差，爱慕商城列出了所有在售商品的尺码对照表 ，为使您穿着合身我们在产品页添加了尺码表，请您用软尺测量后再做决定，也可以在订购前向我们的客服人员咨询。</p>
            <span>为什么不能秒杀多件商品？</span>
            <p>商城中的秒杀商品折扣较低，为了能让更多顾客体验到我们的特惠产品，同一ID在一次秒杀活动中限购一件秒杀类商品，请您谅解；如有团购需求请咨询客服。</p>
          </div>
        </div>
      </div>

    </section>
    <% include footer %>
      <script src="js/jquery-1.11.3.js"></script>
      <script src="./js/layer-v3.1.1/layer/layer.js"></script>
      <script src="./js/index.js"></script>
      <script src="js/Product_details.js"></script>
</body>

</html>