<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/parts.css">
  <link rel="stylesheet" href="https://at.alicdn.com/t/font_611086_bcxvamj8v0rx80k9.css">
  <link rel="stylesheet" href="css/shopping.css">
  <title>shopping</title>
</head>

<body>
  <% include header %>
    <section>
      <div class="shopping_top">
        <ul>
          <li>
            <i class="shop_check iconfont icon-gougou" id="allcheck"></i>
            <span>全选</span>
          </li>
          <li>商品名称</li>
          <li>单价</li>
          <li>数量</li>
          <li>小计</li>
          <li>操作</li>
        </ul>
      </div>
      <div class="shopping_sec">
        <%  data.forEach(function(item){ %>
          <% console.log(item) %>
        <ul>
          <li class="onlycheck">
            <i class="shop_check iconfont icon-gougou"></i>
          </li>
          <li class="shopping_name">
            <img src="./images/series/sports/sports_goods/<%= item.goodsImg.split('|')[0].replace('?','') %>" alt="">
            <span><%= data.goodsName %></span>
          </li>
          <li class="shopping_price"><%= item.goodsPrice%>   元</li>
          <li class="shopping_number">
            <div class="number_redu iconfont icon-jian"></div>
            <input type="text" value="<%= item.cartNum%>" class="number_show" readonly="readonly">
            <div class="number_add iconfont icon-jia"></div>
          </li>
          <li class="shopping_subtotal"><%= item.goodsPrice*item.cartNum%>元</li>
          <li class="shopping_operation">
            <i class="iconfont icon-shanchu"></i>
          </li>

        </ul>
      <% }) %>
      </div>
      <div class="shopping_settlement">
        <ul>
          <li>
            <p>
              <a>继续购物</a>&nbsp;&nbsp;|&nbsp;&nbsp;共&nbsp;
              <span id="shopping_allnum">1</span>&nbsp;件商品,已选择&nbsp;
              <span id="shopping_checknum">1</span>&nbsp;件
            </p>
          </li>
          <li>
            <p>
              合计:
              <span id="shopping_subtotal">399</span>元
            </p>
            <a class="shopping_btn" id="shopping_jiesuan">去结算</a>
          </li>
        </ul>
      </div>
    </section>
    <% include footer %>
      <script src="./js/jquery-1.11.3.js"></script>
      <script src="./js/layer-v3.1.1/layer/layer.js"></script>
      <script src="./js/index.js"></script>
      <script src="./js/shopping.js"></script>
</body>

</html>